<section>
    <div class="mx-auto max-w-screen-xl">
        <div class="flex w-full items-start gap-6 mt-32 max-lg:flex-col">
            <div class="w-full lg:w-3/4">
                @for (item of cartService.cart()?.items; track item.productId) {
                <app-cart-item [cartItem]="item"></app-cart-item>
                }
            </div>
            <div class="w-full lg:w-1/4">
                <app-order-summary></app-order-summary>
            </div>
        </div>
    </div>
</section>