@if (productsData) {
<div class="flex flex-col gap-3">
    <div class="flex justify-between max-xl:flex-col-reverse max-xl:items-center">
        <mat-paginator
               class="bg-white"
               (page)="handlePageEvent($event)"
               [length]="productsData.count"
               [pageSize]="shopParams.pageSize"
               [showFirstLastButtons]="true"
               [pageSizeOptions]="pageSizeOptions"
               [pageIndex]="shopParams.pageNumber - 1"
               aria-label="Select page">
        </mat-paginator>
         <form 
            #searchForm="ngForm"
            (ngSubmit)="onSearchChange()"
            class="relative flex items-center w-full xl:max-w-md mx-4"
         >
            <input
                type="search"
                name="search"
                [(ngModel)] = "shopParams.search"
                placeholder="Search"
                class="block w-full p-2.5 text-sm text-gray-900 border border-gray-300 rounded-lg"
            />
            <button mat-icon-button type="submit"
                class="absolute inset-y-0 right-7 top-1 flex items-center pl-3"
            >
                <mat-icon>search</mat-icon>
            </button>
        </form>
        <div class="flex items-center justify-between max-xl:w-full max-xl:mb-2 gap-3">
            <button class="match-input-height" mat-stroked-button [matMenuTriggerFor]="menu">
                <mat-icon>swap_vert</mat-icon>
                Sort
            </button>
            <button class="match-input-height" mat-stroked-button (click)="openFiltersDialog()">
                <mat-icon>filter_list</mat-icon>
                Filters
            </button>
        </div>
    </div>
    <div class="
    grid grid-cols-1 gap-4
    sm:grid-cols-2 
    md:grid-cols-3 
    lg:grid-cols-4 
    xl:grid-cols-5 
    2xl:grid-cols-6
    ">
        @for (product of productsData.data; track product.id) {
        <app-product-item [product]="product"></app-product-item>
        }
    </div>
</div>

<mat-menu #menu="matMenu">
    <mat-selection-list [multiple]="false" (selectionChange)="onSortChange($event)">
        @for (sort of sortOptions; track $index) {
        <mat-list-option [value]="sort.value" [selected]="shopParams.sort == sort.value">
            {{sort.name}}
        </mat-list-option>
        }
    </mat-selection-list>
</mat-menu>
}